{% extends 'base.html' %}
{% block title %} Educations {% endblock %}
{% block header %} Educations {% endblock %}
{% block body %}

    <h1>Resume Educations</h1>
    <hr />
    {{ form.non_field_errors }}
    <form action="" method="post" novalidate>
        {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}
                {{ field }}
                {{ field.errors }}
            </div>
        {% endfor %}
        {% csrf_token %}
        <input class="btn btn-primary" type="submit" value="Save">

    </form>
    <hr />
    <div class="d-flex justify-content-between">
        <a class="btn btn-primary" href="{% url 'creator:create_resume' %}">Previous</a>
        <a class="btn btn-primary" href="{% url 'creator:create_resume_skills' %}">Next</a>
    </div>
{% endblock %}